
  
  /* ********* Testimonials section ************ */
  .testimony-section {
    position: relative;
    z-index: 0;
    background-position: center center !important;
    position: relative;
    background-attachment: fixed;
  }
  
  .testimony-section .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }
  
  .testimony-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #7c4444;
    opacity: 0.7;
  }
  .testimony-section .owl-carousel {
    margin: 0;
  }
  
  .testimony-section .owl-carousel .owl-stage-outer {
    padding: 1.5em 0 2em 0;
    position: relative;
  }
  .testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
  }
  
  .testimony-section .owl-nav .owl-prev,
  .testimony-section .owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .testimony-section .owl-nav .owl-prev span::before,
  .testimony-section .owl-nav .owl-next span::before {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .testimony-section .owl-nav .owl-prev:hover span::before,
  .testimony-section .owl-nav .owl-prev:focus span::before,
  .testimony-section .owl-nav .owl-next:hover span::before,
  .testimony-section .owl-nav .owl-next:focus span::before {
    color: #ffffff;
  }
  .testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
  }
  .testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
  }
  
  .testimony-section .owl-dots {
    text-align: center;
  }
  
  .testimony-section .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(148, 97, 97, 0.253);
  }
  
  .testimony-section .owl-dots .owl-dot.active {
    background: #ff2377;
  }
  
  .testimony-wrap {
    display: block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 20px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
  }
  .testimony-wrap .text p {
    font-style: italic;
  }
  
  .testimony-wrap .icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff2377;
  }
  
  .testimony-wrap .icon span {
    color: #ffffff;
  }
  
  .testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
  }
  
  .testimony-wrap .name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    color: #ffffff;
    font-style: normal !important;
  }
  
  .testimony-wrap .position {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .heading-section.heading-section-white .subheading {
    color: #c8a97e;
  }
  .heading-section.heading-section-white h2 {
    color: #ffffff;
  }
  .heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .staff {
    transition: all 0.3s ease;
  }
  
  .staff .img {
    height: 320px;
    border-radius: 5px;
    background-position: top center;
  }
  
  .staff .text {
    background: #ffffff;
    transition: all 0.3s ease;
  }
  
  .staff .text h3 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
  }
  
  .staff .text .position {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
  }
  .staff .text .faded {
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .ftco-social {
    padding: 0;
  }
  .ftco-social li {
    list-style: none;
    margin-right: 10px;
  }
  
  .ftco-social span {
    color: #7e2147d8;
  }
  
  .makereservation {
    width: 100%;
    background: #ffffff;
  }
  
  .makereservation .form-group label {
    font-weight: 600;
    color: #000000;
  }
  
  .makereservation .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 20px;
    font-size: 14px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.7);
  }
  
  .makereservation .form-group .select-wrap {
    position: relative;
  }
  
  .makereservation .form-group .select-wrap select {
    appearance: none;
  }
  
  .btn {
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 24px 48px -12px rgba(0, 0, 0, 0.1);
  }
  
  .btn:hover,
  .btn:active,
  .btn:focus {
    outline: none;
  }
  
  .btn.btn-primary {
    background: #c8a97e;
    border: 1px solid #c8a97e;
    color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    background: transparent;
    border: 1px solid #c8a97e;
    color: #000000;
  }
  
  .btn.btn-primary.btn-outline-primary {
    border: 1px solid #c8a97e;
    background: transparent;
    color: #c8a97e;
  }
  
  .btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #c8a97e;
    color: #ffffff;
  }
  
  .single-cat-widget {
    position: relative;
    text-align: center;
  }
  
  .single-cat-widget .overlay-bg {
    background: rgba(0, 0, 0, 0.85);
    margin: 7%;
    transition: all 0.4s ease 0s;
  }
  
  .single-cat-widget img {
    width: 100%;
  }
  .single-cat-widget .content-details {
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    bottom: 0px;
    position: absolute;
  }
  
  .single-cat-widget .content-details h4 {
    color: #ffffff;
    margin-bottom: 0;
  }
  
  .single-cat-widget .content-details span {
    display: inline-block;
    background: #ffffff;
    width: 60%;
    height: 1%;
  }
  
  .single-cat-widget .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .single-cat-widget:hover .overlay-bg {
    background: rgba(186, 146, 54, 0.85);
    margin: 7%;
    transition: all 0.4s ease 0s;
  }
  .ftco-bg-dark {
    background: #3c312e;
  }
  
  .ftco-footer {
    font-size: 14px;
    background: #141313;
    padding: 50px 0 10px 0px;
  }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  
  .ftco-footer .ftco-footer-widget ul li a span {
    color: #ffffff;
  }
  .ftco-footer .ftco-footer-widget .open-hours li span {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
  }
  .ftco-footer .ftco-footer-widget .thumb a.thumb-menu {
    width: 100%;
    height: 100px;
    display: block;
  }
  
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .ftco-footer a:hover {
    color: #ffffff;
  }
  
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 700;
    color: #000000;
  }
  
  .ftco-footer .categories li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .ftco-footer .categories li a span {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  
  .ftco-footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .ftco-footer .subscribe-form .form-group input {
    border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
  }
  
  .ftco-footer .subscribe-form .form-group .submit {
    color: #ffffff !important;
    font-size: 16px;
    background: #c8a97e !important;
    border: none !important;
    border-radius: 2px;
  }
  
  .ftco-footer .subscribe-form .form-group .submit:hover {
    cursor: pointer;
  }
  
  .ftco-footer .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
  }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
  }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    color: #ffffff;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
  }
  
  .ftco-footer-social li a:hover {
    background: #c8a97e;
  }
  
  .ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .ftco-footer-social li .fa:hover {
    color: #000000;
  }
  
  
  