
<!-- menu section starts -->
<section class="ftco-section" id="menu">
    <div class="container-fluid px-4 sam">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-4" style="font-size: 70px; font-family: cursive; background-image: linear-gradient(80deg, #da0266, #4d3dab); border-radius: 10%;" > Our Menu</h2>

                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3 > Pizza </h3><hr>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/pizza-1.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3 style="font-family: cursive;">Paneer Tikka Pizza</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹479</span>
                            </div>
                        </div>
                        <p><span>Panner,Turmeric, cumin, coriander, garam masala, ginger, garlic, and salt.</span>
                        </p>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/pizza-2.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Veg Pizza</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹339</span>
                            </div>
                        </div>
                        <p><span>Mushrooms,Onions,Bell peppers,Tomatoes,Olives,Spinach,Artichoke hearts,Broccoli,Carrots</span>
                        </p>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/pizza-3.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Chicken Tikka Pizza</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹839</span>
                            </div>
                        </div>
                        <p><span>Plain Flour/ Maida	,Milk Powder,Yeast,Butter / Olive oil	,Baking powder,Salt	</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Burger</h3><hr>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/burger-1.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Green Chile Cheeseburger</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹60</span>
                            </div>
                        </div>
                        <p><span>Lettuce,Tomato,Onion,Pickles,Mayo,Mustard</span>
                        </p>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/burger-2.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Slaw Burger</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹90</span>
                            </div>
                        </div>
                        <p><span>Shredded cabbage,mayonnaise,white vinegar,cheese,sliced</span>
                        </p>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/burger-3.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Luther Burger</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹85</span>
                            </div>
                        </div>
                        <p><span>lettuce, tomato, onion, pickles, mayonnaise, mustard, ketchup</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 menu-wrap">
                <div class="heading-menu text-center ftco-animate">
                    <h3>Pasta</h3><hr>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/pasta-1.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Linguine</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹256</span>
                            </div>
                        </div>
                        <p><span>wheat semolina flour,eggs,tomato sauces, cream sauces, or vegetable sauces</span>
                        </p>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/pasta-2.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Radiatore Pasta</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹189</span>
                            </div>
                        </div>
                        <p><span>marinara, Bolognese, pomodoro,basil, garlic, pine nuts, Parmesan cheese, and olive oil. </span>
                        </p>
                    </div>
                </div>
                <div class="menus d-flex ftco-animate">
                    <div class="menu-img img"><img src="../../assets/images/img/pasta-3.jpg" alt=""></div>
                    <div class="text">
                        <div class="d-flex">
                            <div class="one-half">
                                <h3>Bucatini Pasta</h3>
                            </div>
                            <div class="one-forth">
                                <span class="price">₹124</span>
                            </div>
                        </div>
                        <p><span>Basil, garlic, pine nuts, Parmesan cheese, and olive oil.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- menu section ends -->
