
<div class="container">

  <!-- Menu  -->
<div class="bg-info p-2 text-white bg-opacity-50" >
    <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Category Details</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addCat" type="submit">Add Category</button>
      </div>
    </div>
  </nav>

  <!--  Table Data -->


  <table class="table table-hover ">
    <thead>
      <tr>
        <th scope="col">Category ID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of allcategory  | paginate: { itemsPerPage: count, currentPage: p } ">
        <td>{{cat.catid}}</td>
        <td>{{cat.catnm}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#editCat" (click)="editCat(cat)">Edit</button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteCat(cat)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- Pagination -->

  <div class="d-flex justify-content-center bg-info p-2 text-white bg-opacity-25 ">
    <pagination-controls
      (pageChange)="changePage($event)"></pagination-controls>
  </div>



  <!-- Add new category modal -->


  <div class="modal fade" id="addCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup] = "catObj">

            <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Category Name</label>
               <input type="text" formControlName="catnm" id="catnm" aria-describedby="emailHelp">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="addCategory()">Add</button>
              </div>

        </form>

        </div>
      </div>
    </div>
  </div>


  <!-- Edit the Category modal -->

  <div class="modal fade" id="editCat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup] = "catObj">

            <div class="mb-3">
               <label for="exampleInputEmail1" class="form-label">Category Name</label>
               <input type="text" formControlName="catnm" id="catnm" aria-describedby="emailHelp">
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="updateCat()">Update</button>
              </div>

        </form>
        </div>
      </div>
    </div>
  </div>

  </div>
