<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="detail-box">
          <div class="heading_container ">
            <h2 style="font-family: cursive;">
              About Pizza Delicous
            </h2>
          </div>
          <p style="text-align: justify; font-family: cursive;">
            "Pizza Delicious is a renowned pizzeria famous for its New York-style pizzas and diverse toppings.

            <br>
            <br>
            The restaurant offers a menu featuring classic and inventive pizza choices, as well as complementary sides and beverages. With dine-in, takeout, and delivery options available, Pizza Delicious is a popular destination known for its delicious pizzas."
            <br>
            <br>
            Pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, in a commercial setting, using a wood-fired oven heated to a very high temperature—and served hot.
            <br>
            <br>
            One of the simplest and most traditional pizzas is the Margherita, which is topped with tomatoes or tomato sauce, mozzarella, and basil. Popular legend relates that it was named for Queen Margherita, wife of Umberto I, who was said to have liked its mild fresh flavour and to have also noted that its topping colours—green, white, and red—were those of the Italian flag.
          </p>

        </div>
      </div>
      <div class="col-md-6 img_container ">
        <div class="row">
          <div class="col-6 sam">
            <img src="../../assets/images/img/ab2.jpg" class="about_img1" alt="" />
          </div>
          <div class="col-6 sam">
            <img src="../../assets/images/img/ab1.jpg" class="about_img2" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->
