<!-- Start Gallery  -->
<div class="products-box">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                  <h2 class="mb-4" style="font-size: 70px; background-image: linear-gradient(80deg, #da0266, #4d3dab); border-radius: 10%;">Gallery</h2>
                  <hr>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>

        <div class="row special-list">
          <div class="col-lg-3 col-md-6 special-grid bulbs ">
            <div class="products-single fix">
                <div class="box-img-hover">
                    <img src="../../assets/images/img/1.jpg" class="img-fluid" alt="Image">

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 special-grid bulbs">
          <div class="products-single fix">
              <div class="box-img-hover">
                  <img src="../../assets/images/img/2.jpg" class="img-fluid" alt="Image">

              </div>
          </div>
      </div>

            <div class="col-lg-3 col-md-6 special-grid bulbs">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../../assets/images/img/331.jpg" class="img-fluid" alt="Image">

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid bulbs">
              <div class="products-single fix">
                  <div class="box-img-hover">
                      <img src="../../assets/images/img/4.jpg" class="img-fluid" alt="Image">

                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 special-grid bulbs">
            <div class="products-single fix">
                <div class="box-img-hover">
                    <img src="../../assets/images/img/5.jpg" class="img-fluid" alt="Image">

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 special-grid bulbs">
          <div class="products-single fix">
              <div class="box-img-hover">
                  <img src="../../assets/images/img/6.jpg" class="img-fluid" alt="Image">

              </div>
          </div>
      </div>

      <div class="col-lg-3 col-md-6 special-grid bulbs">
        <div class="products-single fix">
            <div class="box-img-hover">
                <img src="../../assets/images/img/7.jpg" class="img-fluid" alt="Image">

            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 special-grid bulbs">
      <div class="products-single fix">
          <div class="box-img-hover">
              <img src="../../assets/images/img/9.jpg" class="img-fluid" alt="Image">

          </div>
      </div>
  </div>
<!-- End Gallery  -->

